 <div *ngIf="image">
 <table>
    <tr>
      <td rowspan="2" class="editor">
        <app-editor [imageId]="image._id"></app-editor>
      </td>
      <td>
        <table class="subtable">
          <tr>
          <td class="imageName"><h3>{{image.name}}</h3></td>
          <td><p>{{getState(0)}}</p></td>
          <td><button class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">Delete</button></td>
          <td><button class="btn btn-primary" data-toggle="modal" data-target="#downloadModal">Download</button></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td class="canvas">
        <app-canvas imageSrc={{image.src}}></app-canvas>
      </td>
    </tr>
  </table>

  <!-- deleteModal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <app-delete [imageId]="image._id" [imageName]="image.name"></app-delete>
  </div>
  <!-- deleteModal -->
  <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <app-img-donwload [imageName]="image.name" [imageSrc]="image.src"></app-img-donwload>
  </div>
</div>
