<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <a href="detail">
                <img src="./assets/images/sample_img.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">image name</h5>
                  <p class="card-text">state</p>
                </div>
            </a>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <a href="detail">
                <img src="./assets/images/sample_img.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">image name</h5>
                  <p class="card-text">state</p>
                </div>
            </a>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <a href="detail">
                <img src="./assets/images/sample_img.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">image name</h5>
                  <p class="card-text">state</p>
                </div>
            </a>
        </div>
      </div>
    </div>
  </div>












