<ul class="nav nav-tabs">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">File</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" data-toggle="modal" data-target="#importModal">Import</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#downloadModal">Download</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="list">List</a>
    </li>
</ul>

<!-- importModal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <app-img-import></app-img-import>
</div>

<!-- downloadModal -->
<!-- <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <app-img-export></app-img-export>
</div> -->