<ul class="nav nav-tabs">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ファイル</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importModal">
              インポート
          </button>
        </a>
        <a class="dropdown-item" href="#">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exportModal">
            ダウンロード
          </button>
        </a>
      </div>
    </li>
</ul>

<!-- importModal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <app-img-import></app-img-import>
</div>

<!-- exportModal -->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <app-img-export></app-img-export>
</div>