<ul class="nav nav-tabs">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">File</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" data-toggle="modal" data-target="#uploadModal">Upload</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="list">List</a>
    </li>
</ul>

<!-- importModal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <app-img-upload></app-img-upload>
</div>